.elements {
  max-width: 880px;
  margin: auto;
  display: grid;
  row-gap: 17px;
  column-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
}
.elements__card {
  width: 282px;
  height: 361px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.card {
  position: relative;
}
.card__image {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
}

.card__content {
  background-color: white;
  position: relative;
}

.card__content-text {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  padding-left: 25px;
}

.card__like-button {
  position: absolute;
  background-image: url(../images/icon_heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  right: 20px;
  bottom: 5px;
  border: none;
  width: 21px;
  height: 19px;
  background-size: cover;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_is-active {
  background-image: url(../images/icon_heart_active.svg);
}

.card__trash {
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 10px;
  z-index: 0;
  cursor: pointer;
}

.card__trash:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .elements {
    max-width: 768px;
    margin: auto;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 680px) and (min-width: 320px) {
  .elements {
    display: flex;
    flex-direction: column;
  }

  .profile__info_name {
    font-size: 22px;
    font-weight: 500;
  }
  .profile__info_description {
    font-size: 14px;
    font-weight: 400;
  }
}
